/*
   This is a secondary default stylesheet for mPDF
   It will only parse element-level CSS here 
   Remove the comment marks below and edit as required
*/



/* 
   These values used to be the default prior to mPDF 4.2
   Altered to make appearance closer to that of browsers
   Uncomment these lines to return to behaviour prior to v4.2  
*/


/*
img { margin: 0.83em 0; vertical-align: bottom; }
table { margin: 0.5em; }
textarea { vertical-align: top; }
*/
/*.paper{
	width: 210mm;
	margin: 3% auto !important;
    height: 297mm;
}*/
@charset "utf-8";

* {
    padding:0;
    margin:0;
}
@font-face {
    font-family: 'sansaNormal';
    src: url('../fonts/SansaPro-Normal.otf') format('opentype');
}
html, body {
    line-height: 1;
    font-family: sans-serif;
}
.page-break{
	page-break-after: always;
}

.page-break-before{
	page-break-before: always;
}

.main{
	margin: 2% 0 !important;
	/*background-image: url('../images/copy.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;*/
}

.center{
	text-align: center;
}
.row{
    display: block;
    width: 98%;
    margin: 10px auto 10px;
    padding: 6px 0;
    /*border: 1px solid #b3b3b3;*/
}	
.block_row{
    display: block;
    width: 98%;
    margin: 10px auto 10px;
}
	p{
		font-weight: normal;
		font-size: 12px;
		padding-bottom: 12px;
	}
	.title{
		font-weight: bold;
		font-size: 18px;
		padding-top: 5px;
	}
.tbl{
	width: 98%;
	margin: 0 auto;
	clear: both;
    border-collapse: separate;
    border-spacing: 0;
	font-size: 11px;
}
.tbl tr, .tbl_2 tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
	.tbl tr td {
		display: table-cell;
		vertical-align: inherit;
		padding: 5px 0;
	}
	.tbl tr td.tbl_title, .tbl_2 thead tr td{
		font-weight: bold;
	}
.tbl_2{
    width: 100%;
    margin: 0 auto;
   /* border: 1px solid #b3b3b3;*/	
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 11px;
}
	.tbl_2 thead tr td {
		/*border-bottom: 1px solid #b3b3b3;*/
		padding: 5px 7px;
	}
	.tbl_2 tr td {
		display: table-cell;
		vertical-align: inherit;
		padding: 5px;
		word-wrap: break-word;
	}
.number{
	text-align: right !important;
}

.block_row p{
	padding-left: 10px;
}

.sum_left{
	width: 55%;
	display: inline-block;
	vertical-align: bottom;	
	padding: 0 10px;
}
	.sum_left .sign_box{
		margin-top: 20px;
		padding-top: 2px;
		/*border-top: 1px solid #cccccc;*/
		width: 250px;
	}
.sum_right{
	display: inline-block;
    width: 40%;
	vertical-align: top;	
    margin-top: 10px;
}
.sum_right .tbl_3{
    width: 80%;
    margin: 0 auto;
   /* border: 1px solid #b3b3b3;	*/
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 11px;
}
	.sum_right .tbl_3 tr td {
		display: table-cell;
		vertical-align: inherit;
		padding: 3px;
	}
.sum_center{
	display: block;	
	width: 98%;
    margin: 0 auto;
}
	.sum_center p{
		font-size: 11px;
		text-align: center;
	}
	.sum_center p span{
		color: #b3b3b3;
	}
.toRight{
    text-align: left;
    padding-left: 60px;
    font-weight: normal;
}
